
.topbar li{
    position: relative;
    color:gray;
    font-weight: 500;
}

.topbar li:not(:nth-child(1))::after {
    content: '';
    width: 1px;
    height: 60%;
    background: gray;
    position: absolute;
    left:0;
    top:50%;
    transform: translate(-50%,-50%);
}

