.embla {
    position: relative;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding: 1rem;
  }
  
  .embla__button--prev {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    z-index: 40;
    width: 36px; 
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }
  .embla__button--next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 40;
    width: 36px;  
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }
 .embla__button--prev:hover{
    opacity: 0.6;
  }
 .embla__button--next:hover{
    opacity: 0.6;
  }
  
  .embla__button--prev {
    left:-8px;
  }
  
  .embla__button--next {
    right: -8px;
  }
 
  @media (max-width: 767px) {
  .embla__button--prev,
  .embla__button--next {
    display: none;
  }
}