.embla {
    position: relative;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  
  .embla__button--prev, .embla__button--next {
    position: static;
    margin: 0 8px;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
    z-index: 1;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }
  .embla__button--prev:hover,
  .embla__button--next:hover {
    opacity: 0.6;
  }
  
  @media (max-width: 767px) {
  .embla__button--prev,
  .embla__button--next {
    display: none;
  }
}